<div class="content">
	<div class="page-header">
		<h1>Calendar <small>Because it looks nicer</h1>
		</div>
		<div class="row">
			<div class="span10">
				
				<% @calendar.each_with_index do |daily_activities, index| %>
					<h3><%= index.days.ago.strftime("%A") %></h3>
					<%= render daily_activities %>
				<% end %>

			</div>
			<div class="span4">
				<%= render :partial => 'sidebar', :locals => {:user => @current_user} %>
			</div>
		</div>
	</div>
</div>