<h1>Dashboard#index</h1>
<% @action_items.each do |a_item| %>
  <p>
  <%= button_to(
  a_item.description,
  :action => "create",
  :controller => "performed_actions",
  :form => {:action_item => a_item}) %>
  </p>
<%end%>
