<div class="page-header">
  <h1>Hey <%= current_user.name %> <small>Report your daily activities here</small></h1>
</div>
<div class="action_group">
<% @action_items.each do |a_item| %>
  <%= button_to a_item.description,
			{ :controller => "performed_actions", :action => "create", :action_item => a_item },
			:class => "btn large" %>
<%end%>
</div>